.addone-btn {
  background-color: #49ef49 !important;
}
nav li:hover {
  cursor: pointer;
  color: orange;
}
.apple,
.cherries,
.strawberry {
  width: 260px;
  height: 200px;
  border-radius: 2%;
}

.apple {
  background: url("img/apple.jpg") no-repeat center;
}

.strawberry {
  background: url("img/straw.jpg") no-repeat center;
  background-size: cover;
}

.cherries {
  background: url("img/cherries.jpg") no-repeat center;
  background-size: cover;
}
